*{
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body{
  background: #EFEFEF;
}

h1{
  color: #FFF;
  font-family: 'Staatliches', sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;

  margin-top: 140px;
}

h2{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;

  margin-top: 18px;
}

body::before{
  content: '';
  background: #535971;
  width: 100%;
  height: 436px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.page{
  width: 750px;
  margin: auto;
}

form{
  background: #FFF;
  width: 750px;
  min-height: 300px;

  margin-top: 56px;
  padding: 64px;

  border-radius: 8px 8px 0 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset{
  border: none;
}

fieldset legend{
  border-bottom: 1px solid #E6E6F0;

  width: 100%;

  color: #535971;
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; 

}

.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.input-wrapper{
  display: flex;
  flex-direction: column;

  width: 100%;
}

.input-wrapper label{
  color: #4E4958;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.input-wrapper input{
  border-radius: 8px;
  border: 1px solid #E6E6F0;

  height: 56px;
  padding: 0 24px;

  color:#6c6a71;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.namesurname{
  display: flex;
  gap: 22px;
}

span{
  color: #C1BCCC;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

#firts{
  margin-top: 32px;
}

#firts, #second{
  border: none;

  font-size: 20px;
  line-height: 34px;
}

.event-time1{
  margin-bottom: 16px;
}

.event-time2{
  margin-bottom: 64px;
}

.event-time1, .event-time2{
  display: flex;
  gap: 10px;
}

.event-time1 > div:nth-child(1){
  width: 200%;
}

.event-time2 > div:nth-child(1){
  width: 200%;
}

.form-button{
  border-radius: 0px 0px 20px 20px;
  background: #535971;
  position: relative;

  height: 160px;
  width: 100%;

  padding: 52px 40px;
}

.form-button input{
  border-radius: 20px;
  background: #FF5374;
  border: none;

  height: 56px;
  width: 100%;
 
  color: #FFF;
  font-family: 'Staatliches', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.event-time1 .input-wrapper, .event-time2 .input-wrapper {
  gap: 8px;
}

input:invalid{
  border: 1px solid red;
}